#footer{
	width: 100%; 
	background-color: #22313F;
	color: $white2;
}

.footer-container{
	width: 80%;
	margin: auto;
	padding: 40px 30px;
}

.footer-logo{
	width: 100%;
	max-width: 200px;
}


.footer-title{
	font-size: 16px;
	color: $white2;
	font-weight: 300;
	margin-bottom: 8px;
}

.footer-li{
	font-size: 16px;
	color: $white2;
	padding: 6px 0;
	list-style-type: none;
	img{
		width: 18px;
		vertical-align: bottom;
	}
	a{
		text-decoration: none;
		color: $white2;
		margin-left: 4px;
	}
}