.section1{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: $terciary;
    background-image: url('/img/cover2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    left: 0;
    padding: 40px 10px;    
}

.contenedor-principal{
    padding-left: 60px;
    padding-right: 60px;
}

.contenedor-titulo1{
    background-color: #7591C9;
    padding: 40px;
}

.titulo1{
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
}

.subtitulo1{
    padding-top: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}

.seccion{
    width: 100%;
    height: 100vh;
    background-color: $terciary;
    background-image: url('/img/cover2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    left: 0;
}