$hr_color: #8c8b8b;
$pdt_title: #2c3e50;
$pdt_content: #6C7A89;

#seccion1{
    width: 100%;
    background-color: $terciary;
}

.pdt-container{    
    padding: 70px 60px 30px;  
}

.pdt-title{
    color: $white2;
    font-size: 20px; 
    padding: 40px 0 30px; 
}

.pdt-hr{
    height: 30px; 
    border-style: solid; 
    border-color: $white2; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
    &:before { 
        display: block; 
        content: ""; 
        height: 30px; 
        margin-top: -31px; 
        border-style: solid; 
        border-color: $white2; 
        border-width: 0 0 1px 0; 
        border-radius: 20px; 
    }
    &:after{
        // content: url('../icon/solar_48.png');
        display: inline-block;
        position: relative;
        top: -20px;
        padding: 0 10px;
        background: #f0f0f0;
        color: $hr_color;
        font-size: 18px;
    }
}

.pdt-content{
    color: $white2; 
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center; 
}

.pdt-image{     
    background-image: url('../images/cover2_opt.png');
    background-size: 100% 100%;
}

// ==================== BOTON SABER MAS ====================
$arrow_color: #3498DB; 

aside{
    margin: 20px 0;
    line-height: 34px;
    position: relative;
    cursor: pointer; 
    user-select: none;
    color: $white2;
    &:hover {
        top: -2px;
    }
    &:active {
        top: 1px;
    }
    &:before, &:after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 0;
    }
    &.arrow {
        background-color: $arrow_color;
        &:after,&:before{
            border-width: 17px 0 17px 17px;
        }
        &:before {
            border-color: $arrow_color transparent;
            left: -17px;
        }
        &:after {
            border-color: transparent $arrow_color;
            right: -17px;
        }
    }
}