.section1{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: $terciary;
    background-image: url('/img/cover2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    left: 0;
    .titulo1{

    }
}