$primary: #143F84;
$secondary: #437BBB;
$background: #F2F2F2;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: $background;
    font-family: 'Lato', sans-serif;
}

header{
    color: #FFF;
    font-weight: 300;
    a{
        color: #FFF;
        text-decoration: none;
    }
}

.logo-menu{
    background: $primary;
    .menu a{
        display: inline-block;
        padding: 20px 20px;
        &:hover{
            border-bottom: 4px solid #FF9F1C;
            padding-bottom: 16px;
        }
    }
}

.section1{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: $secondary;
    background-size: cover;
}


