$primary: #143F84;
$primary2: #203E83;
$secondary: #437BBB;
$terciary: #4D79BC;
$background: #F2F2F2;
$white2: #EFEFEF;

@import 'header';
@import 'cover';
@import 'seccion1';

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

.wrap{
	position: relative;
}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}