input,textarea{
    width: 100%;
    padding: 3px;
    border-radius: 5px;
}

.pdt-contact-container{
    color: #efefef;
    max-width: 500px;
    padding: 10px;
    display:block;
    margin: 100px  auto; 
    background-color: #4D79BC;
}

.box{
    margin-top: 50px;
    margin-bottom: 50px;
}

body{
    background-color: #efefef;
}

main{
    height: 70vh;
}

.boton{
    padding: 10px;
    background-color: #22313F; 
    color: #efefef;
    border: 0;
}
.boton:hover{
    background-color: #efefef; 
    color: black;
}