.home-area{
	position: relative;
	width: 100%;
	height: 100vh;
} 

.home-picture{
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	height: 100vh;
	filter: brightness(90%);
	-webkit-filter: brightness(90%); 
}

.home-text-container{
	position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.home-text-area{
	width: 100%;
	min-width: 600px;
	color:#fff;
	text-align: center;
	h1{
		color:#fff;
		font-size: 54px;
		font-weight: 400;
		margin:20px 0 0;
		line-height: 66px;
	}
	h2{
		color:#fff;
		font-weight: 400;
		margin:10px 0 30px;
		line-height:40px;
		letter-spacing: 3px;
		font-size: 30px;
	}
}



@media (max-width: 1124px) {
	.home-text-area {
		min-width: 300px;
		max-width: 500px;
		h1{		
			font-size: 48px;
		}
		h2{
			font-size: 26px;
		}
	}
	.home-text-container{
		top: 55%;
	}
}

@media (max-width: 998px) {
	.home-text-area{
		h1{		
			font-size: 40px;
		}
		h2{
			font-size: 24px;
		}
	}
}

@media (max-width: 826px) {
	.home-text-area{
		h1{		
			font-size: 36px;
			line-height: 54px;
			margin:20px 0 40px;
		}
		h2{
			font-size: 22px;
			line-height:30px;
			letter-spacing: 2px;
		}
	}
}

@media (max-width: 521px) {
	.home-text-area{
		h1{		
			font-size: 32px;
			line-height: 44px;
			margin:20px 0 40px;
		}
		h2{
			font-size: 20px;
			line-height:30px;
			letter-spacing: 2px;
		}
	}
}

// ==================== FLECHA Y ANIMACION ====================
.home-arrow-container{
	position: absolute;
	bottom: -50px;
	left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.arrow-down{
	color: #fff;
	font-size: 68px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
	0%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@-webkit-keyframes bounce {
	0%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}

@keyframes bounce {
	0%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
}