#header{ 
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    width:100%;
    color:#fff;
    margin:0 auto 0;
    padding: 0 30px; 
    overflow:hidden;
    border-bottom:rgba(255,255,255,.1) 1px solid;
    z-index:500;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}

.header-logo{
    padding: 20px 10px;
    display: inline-block;
}

.header-link{
    display: inline-block;
    padding: 20px 10px 25px;
    color: #FFF;
    text-decoration: none; 
    &:hover {
        border-bottom: 4px solid #fff;
        padding-bottom: 21px; 
    }
}