$hr_color: #8c8b8b;
$pdt_title: #2c3e50;
$pdt_content: #6C7A89;

#seccion1{
    width: 100%;
    // background-color: $terciary;
}

.pdt-container{    
    padding: 30px 60px 30px;  
    background-color: $terciary;
}

.pdt-title{
    color: $white2;
    font-size: 20px; 
    padding: 30px 0 30px;
}

.pdt-hr{
    height: 30px; 
    border-style: solid; 
    border-color: $white2; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
    &:before { 
        display: block; 
        content: ""; 
        height: 30px; 
        margin-top: -31px; 
        border-style: solid; 
        border-color: $white2; 
        border-width: 0 0 1px 0; 
        border-radius: 20px; 
    }
    &:after{
        content: url('../icon/solar_panel.png');
        display: inline-block;
        position: relative;
        top: -20px;
        padding: 5px 10px 0;
        background: rgba(0,0,0,0);
        color: $hr_color;
        font-size: 18px;
    }
}

.celeste{
    @extends .pdt-hr;
    &:after{
        background: $terciary;
    }
}

.azul{
    @extends .pdt-hr;
    &:after{
        background: $primary2;
    }
}

.pdt-content{
    color: $white2; 
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center; 
}

.pdt-image{     
    background-image: url('../images/cover2_opt.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

// ==================== BOTON SABER MAS ====================
$arrow_color: #3498DB; 

.link-arrow{    
    text-decoration: none;
}

aside{
    margin: 20px 0;
    line-height: 34px;
    position: relative;
    cursor: pointer; 
    user-select: none;
    color: $white2;
    background-color: $arrow_color;
}

.aside-text{
    font-size: 16px;
}
